.form {
    margin: 1rem auto;
    padding: 1rem $lg-padding;

    @media screen and (max-width: $sm-screen) {
        margin: 0;
    }

    input,
    select {
        background-color: $highlight-color;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 100%;
        display: block;
    }

    label {
        font: $p-section-categories;
        margin-right: 0.5rem;
    }

    select {
        background-color: $highlight-color;
    }

    &__name,
    &__details,
    &__schedule {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1rem;

        span {
            margin-right: 2rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &__name,
    &__details {
        @media screen and (max-width: $sm-screen) {
            flex-direction: column;
            align-items: flex-start;
        }

        span {
            width: 100%;
        }
    }

    &__details span:nth-of-type(2) {
        width: 60%;

        @media screen and (max-width: $sm-screen) {
            width: 100%;
        }
    }

    &__schedule {
        span {
            width: 30%;
            @media screen and (max-width: $sm-screen) {
                width: 50%;
            }
        }
    }

    &__confirm {
        border-top: 1px solid $highlight-color;
        padding: 1rem 0;

        p {
            color: $primary-color;
            font: $p-text;

            &:first-of-type {
                font: $p-section-categories;
            }
        }
    }

    &__cancel {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        margin-bottom: $lg-padding;
    }

    .btn {
        display: block;
        margin: auto;
    }

    .error {
        color: #cf3737;
    }
}

.reserve__heading {
    font: $h3-section-title;
    text-transform: uppercase;
    border-bottom: 1px solid $highlight-color;
    margin: 0 3rem;

    @media screen and (max-width: $sm-screen) {
        margin: 0 $lg-padding;
    }
}
