nav {
    grid-column: 1 / span 12;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: $highlight-color;
    width: 100%;
    padding: 1rem 1rem;

    a {
        font: $p-section-categories;
        color: $primary-color;

        &:hover {
            text-decoration: underline;
        }
    }

    .mobile {
        display: none;

        @media screen and (max-width: $sm-screen) {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 100%;
        }

        .mobile__upper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            width: 100%;
        }

        svg {
            font-size: 2rem;
            color: $primary-color;
            cursor: pointer;
        }

        &-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 30vh;

            li {
                margin: 1rem;
            }
        }
    }

    .hidden {
        display: none;
    }

    .desktop {
        display: flex;
        margin: auto;

        li {
            margin-right: 0.5rem;
        }

        @media screen and (max-width: $sm-screen) {
            display: none;
        }
    }
}
