.reserve {
    grid-column: 1 / span 12;
    min-height: 100vh;
    background-color: #fff;
    padding-top: $lg-padding;

    &__options {
        display: flex;
        justify-content: center;
        padding: 0 $lg-padding;

        @media screen and (max-width: $sm-screen) {
            padding: 0;
        }

        button {
            margin: 1rem;
        }
    }

    h3 {
        font: $h3-section-title;
        text-transform: uppercase;
        border-bottom: 1px solid $highlight-color;
        margin: 0 6rem;

        @media screen and (max-width: $sm-screen) {
            margin: 0 $lg-padding;
        }
    }
}