$lg-screen: 1440px;
$md-screen: 1000px;
$sm-screen: 800px;
$xs-screen: 500px;

$h1-display-title:  500 4rem/.5 'Markazi Text', serif;
$h2-subtitle: 400 2.5rem 'Markazi Text', serif;
$h4-cta: 400 1.1rem 'Karla', sans-serif;

$h3-section-title: 800 1.25rem 'Karla', sans-serif;
$p-section-categories: 800 1rem 'Karla', sans-serif;

$h4-card-title: 700 1.1rem 'Karla', sans-serif;
$p-text: 400 1rem/1.5 'Karla', sans-serif;


$button-text: 700 1rem 'Karla', sans-serif;

$primary-color: #495E57;
$secondary-color: #f4ce14;
$highlight-color: #EDEFEE;
$darkgrey-color: #333333;

$lg-padding: 3rem;
$sm-padding: 1rem;